@charset "UTF-8";
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.flexbox {
  align-items: center;
}

@media (min-width: 1200px) {
  .flexbox {
    display: flex;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  margin-right: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.logo-top {
  color: #212121;
}

.logo-bottom {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .logotype {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logotype {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.btn {
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.btn:focus {
  outline: none;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__main {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__main {
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-cross:hover, .menu-button.is-open .icon-cross:focus {
  color: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.main-container {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-size: 20px;
  background-color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  z-index: 2;
  padding-bottom: 60px;
}

.main-container .line {
  margin-bottom: 60px;
}

.main-container .site-nav__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-container .site-nav__link:hover, .main-container .site-nav__link:focus {
  color: #2196f3;
}

.main-container .site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-container .site-nav__link--current::after {
    bottom: -32px;
  }
}

.main-container .site-nav__link--current {
  color: #2196f3;
}

.main-container .site-contacts__item {
  text-decoration: none;
  color: #757575;
}

.main-container .site-contacts__item .site-contacts__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 768px) {
  .main-container .site-contacts__item .site-contacts__link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .main-container .site-contacts__item .site-contacts__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .main-container.is-open {
    display: block;
  }
  .main-container:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-container .site-nav__item {
    padding-bottom: 40px;
  }
  .main-container .site-contacts {
    text-align: center;
    padding-top: 20px;
  }
  .main-container .site-contacts .site-contacts__link:not(:last-child) {
    padding-bottom: 16px;
  }
}

.main-container .contacts {
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .main-container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .main-container .site-nav {
    display: flex;
    margin-left: 80px;
    margin-right: 70px;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .main-container .site-nav {
    margin-right: 300px;
  }
}

@media screen and (min-width: 768px) {
  .main-container .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-container .site-contacts__link {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .main-container .site-contacts {
    font-size: 12px;
  }
  .main-container .site-contacts__item:first-child {
    margin-bottom: 10px;
  }
  .main-container .site-contacts__icon {
    margin-right: 8px;
  }
  .main-container .site-contacts .mail {
    width: 14px;
    height: 10px;
  }
  .main-container .site-contacts .tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container .site-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .main-container .site-contacts__item:first-child {
    margin-right: 30px;
  }
}

.main-container .site-contacts__link {
  align-items: center;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-container .site-contacts__link {
    display: flex;
    font-size: 12px;
    line-height: 14px;
  }
}

.main-container .site-contacts__link:hover, .main-container .site-contacts__link:focus {
  color: #2196f3;
}

.main-container .site-contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__item:hover .site-contacts__link,
.site-contacts__item:focus .site-contacts__link {
  color: #2196f3;
}

.site-contacts__item:hover .site-contacts__icon,
.site-contacts__item:focus .site-contacts__icon {
  fill: #2196f3;
}

.modal-form__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 13px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field .form__input {
  position: relative;
}

.form__field .form__input input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form__field .form__input .form__input-text:focus + .form__icon,
.form__field .form__input .form__input-text:focus {
  fill: #2196f3;
  outline-color: #2196f3;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field .form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__field label {
  font-family: Roboto, sans-serif;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form__field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form__field .checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox-label {
  padding-right: 11px;
  padding-left: 11px;
}

.form__checkbox {
  color: #2196f3;
}

.form__textarea:focus {
  outline-color: #2196f3;
}

.modal-button {
  display: block;
  margin: 0 auto;
}

.checkbox:checked ~ span::before {
  background-image: url(../icons/check.svg);
  fill: #ffffff;
  background-color: #2196f3;
  background-size: cover;
  border: 2px solid #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.button-modal:hover .modal-icon-close {
  fill: #2196f3;
  /*background-color: $accent-color;*/
  outline: none;
}

.backgrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  transform: scale(1);
}

@media (min-width: 600px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }
}

.modal-icon-close {
  width: 11px;
  height: 11px;
  fill: #212121;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .social-icons {
    justify-content: center;
  }
}

.social-icons .social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons .social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons .social-icons__link:hover, .social-icons .social-icons__link:focus {
  background-color: #2196f3;
}

.social-icons .social-icons__link:hover .social-icons__icon,
.social-icons .social-icons__link:focus .social-icons__icon {
  fill: #ffffff;
}

.social-icons .social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

@media screen and (min-width: 1200px) {
  .footer-box .social-icons {
    justify-content: right;
  }
}

.staff__box .social-icons {
  padding-bottom: 30px;
}

.section {
  color: #212121;
}

.information,
.team,
.our-client {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .information,
  .team,
  .our-client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples {
  padding-bottom: 94px;
}

@media (min-width: 1200px) {
  .examples {
    padding-bottom: 94px;
  }
}

.container__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

@media (min-width: 1200px) {
  .container__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-mobile_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-mobile_img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header-tablet_img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header-tablet_img@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header-desktop_img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header-desktop_img@2x.jpg);
  }
}

.hero-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
  }
}

.hero-button {
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.hero-button:hover {
  outline: none;
}

.about-work {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .about-work {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.about-work__list::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.about-work__list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-work__list {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .about-work__list {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-work__list {
    width: calc((100% - 30px * 4) / 4);
    margin: 15px;
  }
}

.about-work__title {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .about-work__title {
    text-align: left;
  }
}

.about-work__inf {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about-work__inf {
    height: 75px;
  }
}

.icon-antenna::before {
  background-image: url("../icons/antenna.png");
}

.icon-clock::before {
  background-image: url("../icons/clock.png");
}

.icon-diagram::before {
  background-image: url("../icons/diagram.png");
}

.icon-astronaut::before {
  background-image: url("../icons/astronaut.png");
}

.examples {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .examples {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}

.product {
  margin-top: 50px;
}

@media screen and (min-width: 1200px) {
  .product {
    display: flex;
  }
}

.product__list:not(:last-child) {
  margin-right: 30px;
  /*width: calc((100%-30px * 2) / 3);*/
}

.product__box {
  position: relative;
}

.product__box .product__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  margin: 0;
}

.team {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .staff {
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .staff {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .staff {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .staff {
    margin-top: 50px;
  }
}

.staff .staff__box {
  width: 100%;
  background: #ffffff;
}

.staff__list {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .staff__list {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .staff__list {
    width: calc((100% - 30px * 4) / 4);
    margin: 15px;
  }
}

.staff__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 30px;
}

.staff__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  margin-top: 10px;
  color: #757575;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .clients {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .clients {
    margin-top: 50px;
  }
}

.clients__item {
  width: calc((100% - 30px * 2) / 2);
  margin: 15px;
}

@media (min-width: 768px) {
  .clients__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 30px * 6) / 6);
  }
}

.clients__item:hover .clients-icon {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link .clients-icon {
  height: 90px;
}

.line {
  border: 1px solid #ececec;
}

.portfolio-content {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .portfolio-content {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .buttons {
    justify-content: center;
    padding-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .buttons {
    justify-content: center;
    padding-bottom: 35px;
  }
}

.buttons-list {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list:hover, .buttons-list:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery__list {
  margin-bottom: 30px;
}

.gallery__list .gallery__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__list {
    width: calc((100% - 30px * 3) / 3);
    margin: 15px;
  }
}

.gallery__list:hover .border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__list .border-box {
  border: 1px solid #eeeeee;
  border-top: 0;
}

.gallery__list .gallery-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 20px 24px 5px 24px;
}

.gallery__list .gallery-title {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0px 24px 20px 24px;
}

/*  спливаюче окно карток портфолио*/
.gallery__background {
  position: relative;
  overflow: hidden;
}

.gallery__background:hover .gallery__background-text {
  transform: translateY(0);
}

.gallery__background .gallery__background-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  margin: 0;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-box {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .footer-box {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-box:not(:last-child) {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box:not(:last-child) {
    width: calc((50% - 45px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box:last-child {
    width: calc(50% - 15px);
  }
}

.footer .adress {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer .footer-email,
.footer .footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.social-icons {
  padding-bottom: 0;
}

.social-icons .footer-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form__field-label {
    display: flex;
  }
}

.footer-form__input {
  font-family: Roboto;
  font-style: normal;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 15px 15px 16px;
  height: 50px;
  width: 100%;
  max-width: 450px;
}

.box-email input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .button-submit {
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0;
  }
}

.button-submit__icon {
  fill: #ffffff;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.box-email input {
  padding-left: 16px;
}
/*# sourceMappingURL=main.css.map */