.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.box-tablet {
  @include for-size(tablet) {
    display: flex;
    padding-right: 80px;
    padding-left: 80px;
  }

  @include for-size(desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-box {
  text-align: center;

  @include for-size(desktop) {
    text-align: left;
  }
}

.footer {
  .logotype__part {
    color: $button-color;
  }

  .adress {
    margin-top: 20px;
    margin-bottom: 10px;
    color: $button-color;
  }

  .footer-email,
  .footer-tel {
    color: $accent-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
}

.footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: $button-color;
}
