.footer-form__field-label {
  @include for-size(desktop) {
    display: flex;
  }
}

.footer-title {
  margin: 0;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $button-color;
}

.footer-form__input {
  font-family: Roboto;
  font-style: normal;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  width: 100%;
  max-width: 360px;
}

.box-email input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(desktop) {
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0;
  }
}

.button-submit__icon {
  fill: $button-color;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.box-email {
  //margin-right: 12px;
}

.box-email input {
  padding-left: 16px;
}
