.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  margin: 0;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $button-color;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-items: baseline;
  }
}

.footer-box {
  width: 100%;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-box:not(:last-child) {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.footer-box:not(:last-child) {
  @media screen and (min-width: 1200px) {
    width: calc((50% - 45px) / 2);
    margin-bottom: 0;
  }
}

.footer-box:last-child {
  @media screen and (min-width: 1200px) {
    width: calc(50% - 15px);
  }
}

.footer {
  .logotype__part {
    color: $button-color;
  }

  .adress {
    margin-top: 20px;
    margin-bottom: 10px;
    color: $button-color;
  }

  .footer-email,
  .footer-tel {
    color: $accent-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
}

.footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: $button-color;
}
