.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-text {
    color: $button-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;

    @include for-size(desktop) {
      font-size: 44px;
    }
  }

  &-button {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.hero-button:hover {
  outline: none;
}
