.section {
  color: $title-text-color;
}

.information,
.team,
.our-client {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples {
  padding-bottom: 94px;

  @include for-size(desktop) {
    padding-bottom: 94px;
  }
}

.conteiner__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}
